# Mac
.DS_Store
.idea

# Node
node_modules/
npm-debug.log
.node-version

# Ignore any extra plugins in the sample directory that aren't in Git already (this is a sandbox for the user)
sample-plugins
lib

# Possible local testing storage
.hanna

# Test
mock
